<div
  class="container col-md-8 align-items-sm-start d-sm-inline-flex"
  style="text-align: start"
>
  <!-- DISEÑO -->
  <ul class="list-group m-1">
    <div style="text-align: center">
      <li
        class="list-group-item list-group-item-success text-bg-success text-white"
      >
        Diseño
      </li>
    </div>
    <!--  BITACORA  -->
    <li class="list-group-item list-group-item-info p-sm-1">
      <div class="list-group-item list-group-item-danger m-0 text-center">
        Bitacora
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Registro de Fechas</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Justificacion de cambios en Prototipos</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Diagramas e Imágenes</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Ortografía y Redacción</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Presentación</label
        >
      </div>
    </li>
    <!-- MODELO DIGITAL -->
    <li class="list-group-item list-group-item-info p-sm-1">
      <div class="list-group-item list-group-item-danger m-0 text-center">
        Medio digital
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Video y Animacion</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Diseño y Modelado en software Audodesk Inventor</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Analisis de elementos</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Ensamble del prototipo</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >El modelo es acorde con el robot</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Está acorde la simulación con los cálculos obtenidos</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Restricciones de movimientos (Rotacion y Traslación de partes)</label
        >
      </div>
    </li>
  </ul>

  <!-- PROGRAMACION -->
  <ul class="list-group m-1">
    <div style="text-align: center">
      <li
        class="list-group-item list-group-item-success text-bg-success text-white"
      >
        Programacion
      </li>
    </div>
    <!-- INSPECCION GENERAL-->
    <li class="list-group-item list-group-item-info p-sm-1">
      <div class="list-group-item list-group-item-danger m-0 text-center">
        Inspección General
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Software de programación RobotC</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Uso de funciones</label
        >
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Complejidad del programa</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Justificación de las secuencias de programación</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Conocimiento de las estructuras y funciones aplicadas</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Rutinas de Depuración de Código</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Creación de código modular (Compacto) y Eficiente</label
        >
      </div>
    </li>
    <!-- SISTEMA AUTONOMO-->
    <li class="list-group-item list-group-item-info p-sm-1">
      <div class="list-group-item list-group-item-danger m-0 text-center">
        Sistema Autónomo
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Software de programación RobotC</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Uso de funciones</label
        >
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Complejidad del programa</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Justificación de las secuencias de programación</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Conocimiento de las estructuras y funciones aplicadas</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Rutinas de Depuración de Código</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Creación de código modular (Compacto) y Eficiente</label
        >
      </div>
    </li>
    <!-- SISTEMA MANIPULADO -->
    <li class="list-group-item list-group-item-info p-sm-1">
      <div class="list-group-item list-group-item-danger m-0 text-center">
        Sistema Manipulado
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Software de programación RobotC</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Uso de funciones</label
        >
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Complejidad del programa</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Justificación de las secuencias de programación</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Conocimiento de las estructuras y funciones aplicadas</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Rutinas de Depuración de Código</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Creación de código modular (Compacto) y Eficiente</label
        >
      </div>
    </li>
    <!-- DEMOSTRACION -->
    <li class="list-group-item list-group-item-info p-sm-1">
      <div class="list-group-item list-group-item-danger m-0 text-center">
        Demostración
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Software de programación RobotC</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Uso de funciones</label
        >
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Complejidad del programa</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Justificación de las secuencias de programación</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Conocimiento de las estructuras y funciones aplicadas</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Rutinas de Depuración de Código</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Creación de código modular (Compacto) y Eficiente</label
        >
      </div>
    </li>
  </ul>

  <!-- CONSTRUCCION -->
  <ul class="list-group m-1">
    <div style="text-align: center">
      <li
        class="list-group-item list-group-item-success text-bg-success text-white"
      >
        Construcción
      </li>
    </div>
    <!-- INSPECCION GENERAL-->
    <li class="list-group-item list-group-item-info p-sm-1">
      <div class="list-group-item list-group-item-danger m-0 text-center">
        Inspección General
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Prototipo Estético</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Estructura Estables</label
        >
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Uso de Sistemas de transmición</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Uso de Sensores: Infrarojos, Potenciómetros, Giro, Límite, Posición,
          Contacto, Ultrasónicos, etc</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >El cableado adecuado</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Cálculo e implementación del sistema numérico</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Conocimiento del alcance del robot</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Implementación únicamente de Estructura y dispositivos de la marca
          VEX ROBOTICS</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Uso de un sólo Procesador STMicroelectronics ARM Cortex-M3</label
        >
      </div>
    </li>
    <!-- LIBRETA DE INGENIERIA -->
    <li class="list-group-item list-group-item-info p-sm-1">
      <div class="list-group-item list-group-item-danger m-0 text-center">
        Libreta de Ingeniería
      </div>
      <div class="list-group-item list-group-item-danger m-0 p-0 text-center">
        Cálculos:
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Ánalisis de Estructuras</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Relación de Velocidades Angulares</label
        >
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Tren de Engranes</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Centro de Gravedad</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Sistema de transmición</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Potencia</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Torque</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Velocidad</label
        >
      </div>
    </li>
  </ul>

  <div class="list-group-item list-group-item-info m-0 p-sm-3 text-center">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group mb-3">
        <input
          id="dise"
          type="number"
          max="10"
          min="0"
          class="form-control"
          placeholder="Diseño"
          aria-label=""
          aria-describedby="basic-addon1"
          (change)="onChangeEvent($event)"
          [(ngModel)]="dise"
        />
      </div>
      <div class="input-group mb-3">
        <input
          id="prog"
          type="number"
          max="10"
          min="0"
          class="form-control"
          placeholder="Programación"
          aria-label=""
          aria-describedby="basic-addon1"
          (change)="onChangeEvent($event)"
          [(ngModel)]="prog"
        />
      </div>

      <div class="input-group mb-3">
        <input
          type="number"
          class="form-control"
          id="constr"
          placeholder="Construccion"
          (change)="onChangeEvent($event)"
          [(ngModel)]="constr"
        />
      </div>

      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
  <div class="list-group-item list-group-item-info m-0 p-sm-2 text-center">
    <div class="input-group input-group-sm m-1">
      <div class="alert alert-danger" role="alert">Total: {{ calf_total }}</div>
    </div>
  </div>
</div>
