<div class="container p-4" *ngIf="isRol(2)">
  <h3 class="">Registrar Evento</h3>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Sede</span>
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <form class="row row-cols-sm-auto">
    <div class="col-12">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="d.toggle()"
          type="button"
        ></button>
      </div>
    </div>
  </form>
  <input class="btn btn-primary" type="submit" value="Enviar" />
</div>
<div class="container">
  <app-tabla-eventos></app-tabla-eventos>
</div>
