<div class="container p-4" *ngIf="isRol(2)">
  <h3 class="">
    <ng-container
      *ngIf="action == 1; then thenTemplate; else elseTemplate"
    ></ng-container>
    <ng-template #thenTemplate> Editando Evento </ng-template>
    <ng-template #elseTemplate>
      <ng-container
        *ngIf="action == 0; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate> Registrando Evento </ng-template>
      <ng-template #elseTemplate> Eliminando Evento </ng-template>
    </ng-template>
  </h3>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      [(ngModel)]="nombre"
    />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Sede</span>
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      [(ngModel)]="sede"
    />
  </div>
  <form class="row row-cols-sm-auto">
    <div class="col-12">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="d.toggle()"
          type="button"
        ></button>
      </div>
    </div>
  </form>
  <input
    class="btn btn-primary"
    type="submit"
    value="Enviar"
    (click)="validate()"
  />
</div>
<div class="container">
  <app-tabla-eventos
    (id)="setId($event)"
    (act)="setMode($event)"
  ></app-tabla-eventos>
</div>
