<table class="table table-striped text-white" *ngIf="isRol(2)">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Sede</th>
      <th scope="col">Fecha</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datos; index as i">
      <th class="text-white" scope="row">{{ dato.Id_evento }}</th>

      <td class="text-white">{{ dato.Nombre }}</td>
      <td class="text-white">{{ dato.Sede }}</td>
      <td class="text-white">{{ dato.Fecha }}</td>

      <td class="text-white">
        <button
          style="margin-right: 5px"
          class="text-bg-info btn btn-outline-secondary bi bi-pencil-fill"
          type="button"
          (click)="setEditMode(dato.Id_evento)"
        ></button>
        <button
          class="text-bg-danger btn btn-outline-secondary bi bi-backspace-fill"
          type="button"
          (click)="setDeleteMode(dato.Id_evento)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
