<table class="table table-striped text-white" *ngIf="isRol(2)">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Edad</th>
      <th scope="col">Equipo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datos; index as i">
      <th class="text-white" scope="row">{{ dato.CURP }}</th>

      <td class="text-white">{{ dato.Nombre }}</td>
      <td class="text-white">{{ dato.Apellido1 + " " + dato.Apellido2 }}</td>
      <td class="text-white">{{ dato.Edad }}</td>
      <td class="text-white">{{ dato.Equipo }}</td>
      <td class="text-white">
        <button
          style="margin-right: 5px"
          class="text-bg-info btn btn-outline-secondary bi bi-pencil-fill"
          type="button"
          (click)="setEditMode(dato.CURP)"
        ></button>
        <button
          class="text-bg-danger btn btn-outline-secondary bi bi-backspace-fill"
          type="button"
          (click)="setDeleteMode(dato.CURP)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
