<div class="container p-4" *ngIf="isRol(2)">
  <h3 class="">Registrar Integrantes</h3>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
    <input
      [(ngModel)]="nombre"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Apellido materno</span
      >
    </div>
    <input
      [(ngModel)]="apellido1"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Apellido paterno</span
      >
    </div>
    <input
      [(ngModel)]="apellido2"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">CURP</span>
    </div>
    <input
      [(ngModel)]="curp"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="row row-cols-sm-auto">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Edad
      </button>
      <div ngbDropdownMenu aria-labelledby="categoriaDropdown">
        <button
          *ngFor="let edadd of edades"
          ngbDropdownItem
          (click)="setEdad(edadd)"
        >
          {{ edadd }}
        </button>
      </div>
    </div>
    <div class="mb-3">
      <input
        [(ngModel)]="edad"
        disabled
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>
  </div>

  <div *ngIf="edad > 7 && edad < 80" class="row row-cols-sm-auto">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        Equipo
      </button>
      <div ngbDropdownMenu aria-labelledby="categoriaDropdown">
        <button
          *ngFor="let it of equipos"
          ngbDropdownItem
          (click)="setEquipo(it.Nombre)"
        >
          {{ it.Nombre }}
        </button>
      </div>
    </div>
    <div class="mb-3">
      <input
        [(ngModel)]="equipo"
        disabled
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>
  </div>

  <input
    (click)="submitIntegrantes()"
    class="btn btn-primary"
    type="submit"
    value="Enviar"
  />
</div>
<div class="container">
  <app-tabla-integrantes></app-tabla-integrantes>
</div>
